.mania-banner {
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 32px;
    border-bottom: solid 3px black;
    background-color: white;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}

.groupomania-icon-banner {
    height: 20%;
	width: 30%;
}

.groupomania-title{
    padding-left: 32px;
    font-size: 140%;
    display: flex;
    align-items: center;
}


